header{
       background:#B3B3B3;

}
h1{
     text-align:center;
     color:#ffffff;
     text-transform:uppercase;
}
h2{
    color:#0000ff;
}
section{
       background:#3c3c3c;

}
a{
   background:#3c3c3c;
   color:#000000;
}
img{
     display:none;

}